@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.hero{
    position: relative;
}
.hero .title,.hero .about_title{
    position: absolute;
    top: 50%;
    left: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    /* font-size: 71px; */

}


.pricing.pt-400{
    padding-top: 7rem;

}
@media screen and (max-width: 700px) {
    .hero {
        margin-top:4rem;
    }
   
    .hero .title {
        font-size: 1.4rem;
        top: 40%;
    }
    /* .hero .title .about-title{
    } */
    .m-section{
        margin: 0 1rem;
    }
    section .order-1{
        order: 1;
    }
    section .order-2{
        order: 2;
    }
   
  }
  @media screen and (max-width: 450px) {
    .hero .title{
        left: 3%;
        /* font-size: 71px; */
    
    }
    .section__text{

        overflow-x: hidden;
    }
   
    .top-30{
        top: 30%;
    }
    .hero .about_title{
        top:30% ;
    }
  }
  @media screen and (max-width: 1024px) {
    .hero .title{
        left: 3%;
        /* font-size: 71px; */
    
    }
  }

  